* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(images/back.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}

.card {
    width: 90%;
    max-width: 470px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    backdrop-filter: blur(5px);
    margin-bottom: 35px;

}

.search {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 50px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 20px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 0px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 40px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 150px;
}

.weather h2 {
    font-size: 30px;
    font-weight: 100px;

}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 -9px;
    margin: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.Wind {
    font-size: 20px;
    margin-top: -6px;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.weather {
    display: none;
}